{% extends 'base2.html' %}
{% block title %} Register {% endblock title %}
{% load static %}
{% block body %}

<section class="section section-concept section-no-border section-dark section-angled section-angled-reverse pt-5 m-0"
id="section-concept"
style="background-color: rgb(39, 52, 63); background-size: cover; background-position: center; animation-duration: 750ms; animation-delay: 300ms; animation-fill-mode: forwards;">
<div class="section-angled-layer-bottom bg-light" style="padding: 0rem 0;"></div>
<div class="container-fluid pt-5">
        <div class="page-header page-header-modern bg-color-dark-scale-1 page-header-md pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 align-self-center p-static order-2 text-center">
                        <h1 class="text-light font-weight-bold text-8 my-5">Register</h1>
                    </div>
                    <div class="col-md-12 align-self-center order-1">
                        <ul class="breadcrumb d-block text-center">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li class="active">register</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row mx-auto">
        <div class="col-md-7 mx-auto">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</span>
                <script>
                    setTimeout(function () {
                        document.querySelector('.alert').style.display = 'none';
                    }, 8000);  
                </script>
            </div>
            {% endfor %}
            {% endif %}

            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="{{ form.first_name.id_for_label }}">First Name</label>
                        <input type="text" class="form-control" id="{{ form.first_name.id_for_label }}"
                            name="{{ form.first_name.name }}" placeholder="First Name..." required>
                    </div>
                    <div class="col-sm-6">
                        <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                        <input type="text" class="form-control" id="{{ form.last_name.id_for_label }}"
                            name="{{ form.last_name.name }}" placeholder="Last Name..." required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    <input type="text" class="form-control" id="{{ form.username.id_for_label }}"
                        name="{{ form.username.name }}" placeholder="Username..." required>
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    <input type="email" class="form-control" id="{{ form.email.id_for_label }}"
                        name="{{ form.email.name }}" placeholder="Email..." required>
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Password</label>
                    <input type="password" class="form-control" id="{{ form.password1.id_for_label }}"
                        name="{{ form.password1.name }}" placeholder="Password..." required>
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                    <input type="password" class="form-control" id="{{ form.password2.id_for_label }}"
                        name="{{ form.password2.name }}" placeholder="Confirm Password..." required>
                </div>
                <button type="submit" class="btn btn-dark btn-rounded btn-px-5 text-3 btn-modern">Register</button>
            </form>
            <p>Not have an account? <a href="{% url 'login' %}">Login</a></p>


        </div>
    </div>
</div>
{% endblock body %}